body{ background: linear-gradient(to bottom right, white, #bcbdc4);
height:4000px;}
.post1{top:60px;
left:240px;
position:absolute;
background:white;
width:1000px;
height:600px;
border-radius:9px/9px;
padding-left:10px;
padding-right:10px;
padding-top:10px;
}
.header1{
position:fixed;
width:100%;
height:60px;
background:#142170;
top:0;
left:0;
color:white;
z-index:7;

}
#searcharea{
top:93px;
left:300px;
position:absolute;
padding-left:10px;
height:40px;
width:500px;
}
#searcharea1{
	top:203px;
left:300px;
position:absolute;
padding-left:10px;
height:40px;
width:500px;
}
#searcharea2{
	top:320px;
position:absolute;
padding-left:10px;
left:300px;
height:80px;
width:500px;
}
#searcharea3{
	top:435px;
position:absolute;
padding-left:10px;
left:300px;
height:80px;
width:500px;
}
.save{
background:orange;
color:#142170;
width:90px;
height:35px;
cursor:pointer;
}
.cancelbtn{
background:white;
color:#142170;
width:90px;
height:35px;
cursor:pointer;
}

.acc{
background:orange;
color:#142170;
width:90px;
height:50px;
cursor:pointer;
}
.new{
background:orange;
color:#142170;
width:170px;
height:50px;
cursor:pointer;
}
.inl{
	display:inline;
}
.savesucc{
	
	
}